@import "../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";
/*@import "../../node_modules/react-responsive-carousel/lib/styles/carousel.min.css";*/

@import "./variables";
@import "./MP_Header/mp_header";
@import "./MP_HotelInfo/mp_hotelInfo";
@import "./MP_RoomInfo/mp_roomInfo";
@import "./reservationButton";
@import "./MP_Restaurant/mp_restaurant";
@import "./MP_SpecialOffers/mp_specialOffers";
@import "./MP_B2B/mp_b2b";
@import "./MP_YourReservation/mp_yourReservation";
@import "./MP_Contact/mp_contact";
@import "./MP_ReservationEngine_Step1/mp_reservationEngine_step1";
@import "./MP_ReservationEngine_Step2/mp_reservationEngine_step2";
@import "./MP_ReservationEngine_Step2/mp_reservationEngine_step2_images";
@import "./MP_ReservationEngine_Step3/mp_reservationEngine_step3";
@import "./MP_ReservationEngine_Step4/mp_reservationEngine_step4";
@import "./MP_ReservationCompleted/mp_reservationCompleted";


*{
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poiret One', cursive, sans-serif;
}


.mp_infoSection{
  width: 100%;
}

.mp_title{
  font-size: 37px;
  text-align: center;
  padding-top: 50px;
}

@media (min-width: $desktopVersion) {
  .mp_title{
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
  }
}

