.mp_roomSection {
  background-image: url("../images/RoomsMP_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .mp_roomWrapper {
    padding: 20px 30px;

    .singleRoomWrapper {
      display: flex;
      flex-direction: column;

      .rooms_leftSide {
        width: 100%;
        padding: 40px;
      }

      .rooms_rightSide{
        width: 100%;
        height: 200px;

        .roomAmenities {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h3 {
            font-size: 1.1rem;
          }
          .roomAmenities_list{
            display: flex;
            flex-direction: column;
            font-size: 12px;
            padding-left: 55px;
            list-style-type: none;
            text-align: left;
          }
        }
      }
    }
    @media (min-width: $desktopVersion) {
      .singleRoomWrapper {
        display: flex;
        flex-direction: row;

        .rooms_leftSide {
          width: 50%;
          padding: 40px;
        }

        .rooms_rightSide{
          width: 50%;

          .roomAmenities {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
              font-size: 3.5rem;
            }
            .roomAmenities_list{
              display: flex;
              flex-direction: column;
              font-size: 25px;
              padding-top: 40px;
              padding-left: 55px;
              list-style-type: none;
              text-align: left;
            }
          }
        }
      }
    }
  }
}




